ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(202, 6, 6);
}

li {
    float: left;
}


li a {
    color: rgb(240, 240, 240);
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(139, 4, 4) ;
}

body {
    margin: 0px;
}

.firstpage {
    text-align: center;
    padding-top: 15%;
}

.infopage {
    text-align: center;
    padding-top: 10%;
}