li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
}
li a {
    color: rgb(240, 240, 240);
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
}

body {
    margin: 0px;
}