ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(202, 6, 6);
}

li {
    float: left;
}

li a {
    color: rgb(240, 240, 240);
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(139, 4, 4) ;
}

body {
    margin: 0px;
    background-color: rgb(14, 14, 14);
}

.firstpage {
    text-align: center;
    padding-top: 15%;
}

.infopage {
    text-align: center;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

p, h1, h2, h3 {
    color:white;
}
.leftinformationbox {
    max-width: 40%;
    float: left;
}
.rightinformationbox {
    max-width: 40%;
    float: left;
}
.aboutusbox {
    margin-left: 30%;
    margin-right: 30%;
    max-width: 50%;
}